body{
    min-height: 100vh; 
    position: relative; 
    padding-bottom: 30px;
    width: fit-content;
    margin: auto;
    background-image: url("../images/criss-cross.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
.header{
    margin-bottom: 20px;
    background: #ffffff;
    border: 2px solid #cccccc;
}    
.button{
    color: #ffffff;
    background: #4aaaa5; 
}
h1{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
    color: #ffffff;
    background: #4aaaa5;
    padding: 20px;
    float: left;
}
#links{
    word-spacing: 20px;
    padding: 40px;
    float: right;
}
.link-cls{
    color: #777777;
    text-decoration: none   ;
  
}
.header::after{
    content: "";
    display: table;
    clear: both;
}
.content{
    background: #ffffff;
    border: 2px solid #dddddd;
    margin-bottom: 40px;
    padding: 20px;
}
.content::after{
    content: "";
    display: table;
    clear: both;
}
h2{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    border-bottom: 1px solid #aaa;
}
#pic{
    width: 150px;
    height: 80px;
    padding-right: 20px;
    float: left;
}
#pic::after{
    content: "";
    display: table;
    clear: both;
}
.text-me{
    color: #777777;
}
form{
    color: #777777;
}
input{
    color: #777777;
}
.project{
    position: relative;
    float: left;
}
.project-pic{
    width: 200px;
    height: 200px;
    padding: 10px;
}
.project-txt{
    position: absolute;
    bottom: 10px;
    width: 180px;
    text-align: center;
    left: 10px;
    color: #ffffff;
    background: #4aaaa5;
}
.project::after{
    content: "";
    display: table;
    clear: both;
}
.footer{
    position: absolute;
    width: 100%;
    left: 0; right: 0; bottom: 0; 
    height: 30px;
    background: #666666;
    color: white;
    font-size: 10px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}

